/* ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: #3c3b3c;
}

body {
    overflow-x: hidden;
}

/* MAIN */

section.principal {
    width: 100%;
    height: 80vh;
    margin: 1.1vw;
    user-select: none;
}

h1.title {
    font-size: 45pt;
}


span.color-purple {
    color: #5305d2;
}

/*
RESPONSIVE
*/

@media (max-width: 1920px) {
    img.text-logo {
        width: 15vw;
    }
    img.rotated-image {
        position: absolute;
        transform: rotate(25deg);
        width: 28vw;
        right: -8vw;
        top: -25vh;
    }
}

@media (max-width: 990px) {
    img.text-logo {
        width: 21vw;
    }

    img.rotated-image {
        width: 38vw; 
        margin: 4vh auto; 
        display: block;
        transform: rotate(25deg); 
        left: -5%;
    }
}

@media (max-width: 768px) {
    img.text-logo {
        width: 30vw;
    }

    img.rotated-image {
        width: 50vw;
        margin: 10vh auto;
        display: block;
        transform: rotate(25deg);
    }
}

@media (max-width: 576px) {
    img.text-logo {
        width: 50vw;
    }

    img.rotated-image {
        width: 60vw;
        margin: 10vh auto;
        display: block;
        transform: rotate(25deg);
    }
}